.card{
    align-items: center;
    max-width: 350px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
    padding: 50px 0 25px;
    border-radius: 15px;

}
.card:nth-child(2){
    transform: translateY(50px);
}
.card:nth-child(2) a{
    background-color: #fff;
    color:#5266df;
    border: 2px solid #5266df;
}
.card:last-child{
    transform: translateY(100px);
}
.card a{
    display: block;
}
.card-text{
    margin-top: 30px;
}
.card-text h3{
    padding-bottom: 7px;
}
.card-text p{
    width: 200px;
    margin: auto;
    font-size: 15px;
}
.dot{
    width: 247px;
    margin: 30px 0;
}
.card a{
    text-decoration: none;
    font-size: 14px;
    padding: 15px 25px;
    background-color: #5266df;
    max-width: 200px;
    margin: auto;
    color: white;
    border-radius: 5px;

}
@media only screen and (max-width: 739px){
    .card{
        margin: auto;
        
    }
}